.item {
  border: 1px solid #fff;
  border-radius: 0.3rem;
  font-size: 0.8em;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 3rem;
  padding: 0.75rem;
  background-color: #e91e63;
}
.grid {
  display: grid;
  grid-template-rows: minmax(100px, auto);
  grid-template-columns: minmax(auto, 50%) 1fr 3em;
}
